@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
.kartuli-absoluturi {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.kartuli-relatiuri {
	font-family: 'ALK Life';
}
.latinuri-absoluturi {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-style: italic;
}
.latinuri-relatiuri {
	font-family: 'Roboto';
	letter-spacing: 5px;
	text-indent: 30px;
	line-height: 50px;
	text-transform: uppercase;
}